@model Admin.Models.INV.ViewModels.VM_INV_SUBLINEAS
@{
    ViewData["Title"] = "Ediatr SubLinea";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form method="post" asp-action="Edit">
    <div class="row">
        <div class="col-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Editar SubLinea</h5>
                </div>
                <div class="ibox-content">
                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                    <input type="hidden" asp-for="SubLinea.Id" />
                    <input type="hidden" asp-for="SubLinea.Id_Linea" />
                    <div class="col-6 offset-3 mt-4">
                        <div class="form-group">
                            <label asp-for="SubLinea.Id_Linea">Linea</label>
                            @Html.DropDownListFor(m => m.SubLinea.Id_Linea, Model.ListaLineas,
                     "-Porfavor seleccione una linea-", new { @class = "form-control", @disabled = "disabled" })
                            <span asp-validation-for="SubLinea.Id_Linea" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="SubLinea.Id">Clave</label>
                            @{ if (ViewBag.Folio != null)
                                {
                                    <input asp-for="SubLinea.Id" class="form-control" value="@ViewBag.Folio" id="txtId" disabled />
                                }
                                else
                                {
                                    <input asp-for="SubLinea.Id" class="form-control" disabled />
                                }}

                        </div>
                        <div class="form-group">
                            <label asp-for="SubLinea.Descripcion">Descripcion</label>
                            <input asp-for="SubLinea.Descripcion" class="form-control" />
                            <span asp-validation-for="SubLinea.Descripcion" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="col-6 offset-3 mt-4">
                        <div class="row">
                            <div class="col-3">
                                <div class="form-group">
                                    <label asp-for="SubLinea.Activo">Activo</label>
                                    <div class="switch">
                                        <div class="onoffswitch">
                                            @{ if (Model.SubLinea.Activo == true)
                                                {
                                                    <input type="checkbox" asp-for="SubLinea.Activo" checked class="onoffswitch-checkbox cb_activo" id="cb_activo">
                                                }
                                                else
                                                {
                                                    <input type="checkbox" asp-for="SubLinea.Activo" class="onoffswitch-checkbox cb_activo" id="cb_activo">
                                                }}                                           
                                            <label class="onoffswitch-label" for="cb_activo">
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <span asp-validation-for="SubLinea.Activo" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <partial name="_Botones" view-data='@new ViewDataDictionary(ViewData) { { "data", "Edit" } }' />
                    </div>

                </div>


                <div class="col-12">

                </div>
            </div>

        </div>

    </div>

</form>

@section Scripts{

    <script src="~/js/INV/sublineas.js"></script>




}



