@{
    ViewData["Title"] = "SubLineas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8">
        <h2>Listado de SubLineas</h2>
    </div>
    <div class="col-lg-4">
        <div class="row justify-content-end mt-4">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Inicio</a>
                </li>
                <li class="breadcrumb-item">
                    <a>Catalogo</a>
                </li>
                <li class="breadcrumb-item active">
                    <strong>SubLineas</strong>
                </li>
            </ol>
        </div>

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <div class="ibox-tools">
                        <a class="btn btn-success btn-rounded" asp-action="Create" id="btnAdd"><i class="fa fa-plus"> Agregar SubLinea</i> </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                            <table style="width:100%" class="table table-striped table-bordered table-hover dataTables-example dataTable" id="tblSubLineas" aria-describedby="DataTables_Table_0_info" role="grid">
                                <thead>
                                    <tr>
                                        <th>Linea</th>
                                        <th>Clave</th>
                                        <th>Sublinea</th>
                                        <th>Activo</th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{

    <script src="~/js/INV/sublineas.js">


    </script>



}

